/*
font-family: 'Manrope', sans-serif;
font-family: 'Nunito', sans-serif;
font-family: 'Rubik', sans-serif;

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200&family=Nunito:wght@300&family=Rubik&display=swap" rel="stylesheet">

*/


.Grid {
  display: grid;
  height: 100%;
}
